<app-navbar></app-navbar>

<div class="container">
    <div class="mb-3 d-flex justify-content-end ">
        <a type="button" class="btn btn btn-outline-warning" [routerLink]="['/entrenadores']"><i class="bi bi-skip-backward-fill" style="font-size: 1.2rem;"></i> Regresar</a>
    </div>
    <div class="card mb-5">
        <div class="card-body">
            <h3 class="card-title m-3 mb-5">Editar Entrenador</h3>
            <form #updateForm="ngForm" (ngSubmit)="updateEntrenador(updateForm)">
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="floatingInput" placeholder="cedula" min="0" max="9999999999" name="cedula" [(ngModel)]="entrenador.cedula" (change)="checkCedula()">
                            <label for="floatingInput">Cedula</label>
                        </div>
                        <div class="alert alert-danger fade" id="cedulaAlert" role="alert"></div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="nombre" autocapitalize="words" name="nombres" [(ngModel)]="entrenador.nombre">
                            <label for="floatingInput">Nombres</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="apellidos" autocapitalize="words" name="apellidos" [(ngModel)]="entrenador.apellido">
                            <label for="floatingInput">Apellidos</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="correo" autocapitalize="words" name="correo" [(ngModel)]="entrenador.email" (change)="checkEmail()">
                            <label for="floatingInput">Correo</label>
                        </div>
                        <div class="alert alert-danger fade" id="correoAlert" role="alert"></div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="floatingInput" placeholder="telefono" autocapitalize="words" name="telefono" [(ngModel)]="entrenador.telefono" (change)="checkTelefono()">
                            <label for="floatingInput">Telefono</label>
                        </div>
                        <div class="alert alert-danger fade" id="telefonoAlert" role="alert"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Editar</button>
            </form>
        </div>
    </div>
</div>